# backend
/backend/target
/backend/.env*
/backend/*.pem

# frontend
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/.env*
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# yarn / pnpm
.pnp*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-debug.log*

# build roots
/build
/coverage

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
.env