@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* ---------------------------- */
/*        NEON THEME            */
/* ---------------------------- */

.neon-input {
  width: 100%;
  padding: 12px;
  background: rgba(255,255,255,0.02);
  border-radius: 12px;
  border: 1px solid rgba(140, 90, 255, 0.4);
  backdrop-filter: blur(6px);
  color: #fff;

  box-shadow:
    0 0 6px rgba(140, 90, 255, 0.35),
    inset 0 0 6px rgba(140, 90, 255, 0.15);

  transition: 0.2s;
}

.neon-input:focus {
  outline: none;
  border-color: rgba(180, 120, 255, 0.8);
  box-shadow:
    0 0 12px rgba(140, 90, 255, 0.8),
    inset 0 0 10px rgba(140, 90, 255, 0.25);
}

.neon-box {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(140, 90, 255, 0.5);
  border-radius: 12px;
  padding: 16px;
  backdrop-filter: blur(10px);
  transition: 0.2s;
  box-shadow:
    0 0 8px rgba(140, 90, 255, 0.4),
    inset 0 0 8px rgba(140, 90, 255, 0.15);
}

.neon-box:hover {
  box-shadow:
    0 0 12px rgba(140, 90, 255, 0.7),
    inset 0 0 12px rgba(140, 90, 255, 0.25);
  border-color: rgba(180, 120, 255, 0.8);
}

/*--------------------------- BOTÕES ---------------------------*/

.neon-btn {
  color: #fff !important;                     /* texto branco */
  border: 1px solid rgb(165, 80, 255);        /* roxo do tema */
  border-radius: 8px;
  background: color-mix(in srgb, rgb(165,80,255) 20%, transparent);
  box-shadow:
    0 0 4px rgb(165,80,255),
    inset 0 0 0.5px rgb(165,80,255);
  padding: 6px 20px;
  transition: 0.2s ease;
}

.neon-btn:hover {
  background: color-mix(in srgb, var(--btn-color) 30%, transparent);
  box-shadow:
    0 0 3px var(--btn-color),
    inset 0 0 2px var(--btn-color),
    0 0 8px var(--btn-color);
  transform: translateY(-1px);
}

.transparent-btn {
  background: transparent !important;
  box-shadow: none !important;
}

.transparent-btn:hover {
  box-shadow: none !important;
  transform: none !important;
}

/* Dropzone NÃO usa @apply aqui */
.dropzone {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #aaa;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(140, 90, 255, 0.5);
  border-radius: 12px;
  padding: 16px;
  backdrop-filter: blur(10px);
  transition: 0.2s;
  box-shadow:
    0 0 8px rgba(140, 90, 255, 0.4),
    inset 0 0 8px rgba(140, 90, 255, 0.15);
}

.dropzone:hover {
  box-shadow:
    0 0 12px rgba(140, 90, 255, 0.7),
    inset 0 0 12px rgba(140, 90, 255, 0.25);
  border-color: rgba(140, 90, 255, 0.8);
  color: #ddd;
}
